<div class="card">
  <header class="card-header" (click)="toggleCard()" [ngClass]="flash.remembered">
    <p class="card-header-title">
      {{flash.question}}
    </p>
    <a class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div *ngIf="flash.show">
    <div class="card-content">
      <div class="content">
        {{flash.answer}}
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" (click)="markCorrect()"><i class="fas fa-check"></i></a>
    <a class="card-footer-item" (click)="markIncorrect()"><i class="fas fa-times"></i></a>
    <a class="card-footer-item" (click)="editFlash()"><i class="fas fa-edit"></i></a>
    <a class="card-footer-item" (click)="deleteFlash()"><i class="fas fa-trash"></i></a>
  </footer>
